body{
    background-color: #EAf6f6;
  }
  hr {
    border-color: grey;
    border-style: none;
    border-top-style: dotted;
    width: 15%;
    border-width: 5px;
  }
  h1 {
    color: #6983aa;
  }
  h3 {
    color: #6983aa;
  }
